<div class="block m-12">
    <%= render TitleComponent.new(
        title: @record.title,
        subtitle: render(partial: 'subtitle', locals: {record: @record}),
        long: true,
    ) %>

    <%= render OpportunityLinksComponent.new(
        value: @record,
        owned: user && @record.user_id == user.id,
    ) %>

    <div class="mt-4">
        <%= MarkdownUtil.render(@record.description).html_safe %>
    </div>

    <hr class="my-6 dark:border-gray-600" />

    <%= render OpportunityAttributesComponent.new(value: @record) %>

    <div data-controller="google-maps" class="max-w-xl mt-6" data-draggable="false">
        <input data-google-maps-target="lat" type="hidden" value="<%= @record.latitude %>">
        <input data-google-maps-target="lng" type="hidden" value="<%= @record.longitude %>">
        <div data-google-maps-target="map" style="height: 300px"></div>
    </div>

    <div class="w-max">
        <% if @record.domain_association.present? %>
            <% if @record.domain_association.validation_active %>
                <%= render NotificationComponent.new(
                    type: 'success',
                    body: ["This post is made by someone which VolunteerMap has verified is associated with #{@record.domain_association.domain}."],
                ) %>
            <% else %>
                <%= render NotificationComponent.new(
                    type: 'error',
                    body: ["This post is made by someone which VolunteerMap previously verified was associated with #{@record.domain_association.domain}, but no longer can. If you are the poster, please fix this validation."],
                ) %>
            <% end %>
        <% end %>
    </div>
</div>
