<% content_for :title do %> | <%= @edit ? 'Edit a Posting' : 'Create a New Posting' %><% end %>
<% content_for :description do %>Allows you to <%= @edit ? 'edit' : 'create' %> a posting.<% end %>

<div class="block m-12">
    <%= render TitleComponent.new(
        title: @edit ? 'Edit a Posting' : 'Create a New Posting',
        subtitle: @edit ? 'Edit an existing posting.' : 'Create postings so other users can search for and bookmark them.',
        side: @edit ? render(partial: 'delete_flex_side') : nil,
        long: true,
    ) %>

    <div class="max-w-3xl">
        <% unless @result.nil? %>
            <%= render NotificationComponent.new(
                type: 'error',
                body: @result.errors.full_messages,
            ) %>
        <% end %>

        <%= form_with method: :post do |form| %>
            <%= render SelectComponent.new(
                options: Opportunity.categories,
                name: 'category',
                required: true,
                default: params[:category],
                label: 'Category',
                description: 'Please select the category for this posting.',
            ) %>

            <% domains = user.domain_associations.where(validation_active: true).map(&:domain) %>

            <%= render SelectComponent.new(
                options: domains,
                name: 'domain',
                required: false,
                default: params[:domain],
                label: 'Domain',
                description: ('Please select the domain for this posting if you wish to prove this belongs to a representative of a domain. ' +
                    '<a href="/user/domains">You can add and manage domains here.</a>').html_safe,
            ) %>

            <%= render TextboxComponent.new(
                form: form,
                name: :title,
                label: 'Title',
                description: 'Please enter a title for this posting.',
                required: true,
                value: params[:title],
            ) %>

            <%= render TextareaComponent.new(
                form: form,
                name: :description,
                label: 'Description',
                description: 'Please enter a description for this posting. Some markdown syntax is supported.',
                required: true,
                value: params[:description],
            ) %>

            <div class="mb-3">
                <p>
                    <b>Important Attributes:</b>
                </p>
                <p class="text-sm text-gray-900 dark:text-gray-300 mb-2">
                    These are attributes that the user can filter by.
                </p>
                <%= render partial: 'checkboxes' %>
            </div>

            <%= render TextboxComponent.new(
                form: form,
                name: :email,
                label: 'Contact E-mail Address',
                description: 'Defines the e-mail address used for contacting you.',
                required: false,
                type: :email,
                value: params[:email],
            ) %>

            <%= render TextboxComponent.new(
                form: form,
                name: :phone,
                label: 'Contact Phone Number',
                description: 'Defines the phone number used for contacting you.',
                required: false,
                type: :tel,
                value: params[:phone],
            ) %>

            <%= render TextboxComponent.new(
                form: form,
                name: :website,
                label: 'Contact Website',
                description: 'Defines the website used for contacting you.',
                required: false,
                type: :url,
                value: params[:website],
            ) %>

            <div data-controller="google-maps">
                <p>
                    <b>Activity Location:<span class="text-red-600" aria-label="Required"> *</span></b>
                </p>
                <p class="text-sm text-gray-900 dark:text-gray-300 mb-4">
                    The point on the map specifies the location of the activity.
                </p>

                <input data-google-maps-target="lat" type="hidden" name="latitude" id="latitude" value="<%= params[:latitude] %>">
                <input data-google-maps-target="lng" type="hidden" name="longitude" id="longitude" value="<%= params[:longitude] %>">
                <div class="block w-full text-center">
                    <div class="w-full">
                        <input type="text" data-google-maps-target="search" class="max-w-2xl w-full mx-auto dark:bg-gray-800 dark:border-gray-700 dark:text-white rounded-lg mb-4" placeholder="Search the below map...">
                    </div>
                </div>
                <div data-google-maps-target="map" style="height: 300px"></div>
            </div>

            <div class="mt-5">
                <%= render ButtonComponent.new(
                    name: 'submit',
                    label: 'Submit Posting',
                    type: 'submit',
                    icon: 'file',
                ) %>
            </div>
        <% end %>
    </div>
</div>
