<p class="mt-4">
    <span class="mr-1 <%= select_color :mentally_taxing %>">
        <%= icon 'fa-solid', 'brain' %> Mentally Taxing
    </span>
    <span class="mr-1 <%= select_color :physically_taxing %>">
        <%= icon 'fa-solid', 'person-military-pointing' %> Physically Taxing
    </span>
    <span class="mr-1 <%= select_color :time_flexible %>">
        <%= icon 'fa-solid', 'clock' %> Time Flexible
    </span>
</p>
