<% if @label %>
    <div class="mb-2">
        <label for="<%= @name %>">
            <p>
                <b><%= @label %>:<% if @required %><span class="text-red-600" aria-label="Required"> *</span><% end %></b>
            </p>
            <% if @description %>
                <p class="text-sm text-gray-900 dark:text-gray-300">
                    <%= @description %>
                </p>
            <% end %>
        </label>
    </div>
<% end %>

<select
    name="<%= @name %>" id="<%= @name %>"
    <% if @required %>required<% end %>
    class="w-full dark:bg-gray-800 dark:border-gray-700 dark:text-white rounded-lg mb-3"
>
    <% @options.each do |option| %>
        <% if option.class == String %>
            <option value="<%= option %>"<% if option == @default %> selected<% end %>><%= option %></option>
        <% else %>
            <option value="<%= option[:value] %>"<% if option[:value] == @default %> selected<% end %>><%= option[:label] %></option>
        <% end %>
    <% end %>
</select>

<% unless @default %>
    <script>
        // If no default is set, clear the value of the select box.
        document.getElementById("<%= @name %>").value = "";
    </script>
<% end %>
