<% if @invalid %>
    <p>
        invalid username or password
    </p>
<% end %>

<%= form_with method: :post, data: {turbo: false} do |form| %>
    <%= form.hidden_field :redirect_to, value: params[:redirect_to] %>
    <%= form.text_field :username_or_email, value: params[:username_or_email] %>
    <%= form.text_field :password %>
    <%= form.submit 'Login' %>
<% end %>

<%= form_with method: :post, url: '/auth/register', data: {turbo: false} do |form| %>
    <%= form.hidden_field :redirect_to, value: params[:redirect_to] %>
    <%= form.submit 'Register' %>
<% end %>
