<div class="block text-center mt-8">
    <%= render TitleComponent.new(
        title: 'Forgot your password?',
        subtitle: 'You can finish resetting your password here.',
    ) %>

    <div class="text-left px-2 sm:w-1/2 max-w-xl mx-auto">
        <% unless @errors.nil? %>
            <%= render NotificationComponent.new(
                type: 'error',
                body: @errors,
            ) %>
        <% end %>

        <%= form_with method: :post, data: {turbo: false} do |form| %>
            <% if @reset_user[:'2fa_token'] %>
                <%= render TextboxComponent.new(
                    form: form,
                    name: :'2fa_token',
                    label: '2FA Token',
                    required: true,
                ) %>
            <% end %>

            <%= render TextboxComponent.new(
                form: form,
                name: :password,
                label: 'Password',
                type: 'password',
                required: true,
            ) %>
            <%= render TextboxComponent.new(
                form: form,
                name: :password_confirmation,
                label: 'Confirm Password',
                type: 'password',
                required: true,
            ) %>

            <div class="text-center mt-6">
                <%= render ButtonComponent.new(
                    name: 'submit',
                    label: 'Submit',
                    type: 'submit',
                    icon: 'check',
                ) %>
            </div>
        <% end %>
    </div>
</div>
