<% content_for :title do %> | Forgot Password<% end %>
<% content_for :description do %>You can reset your password here.<% end %>

<div class="block text-center mt-8">
    <%= render TitleComponent.new(
        title: 'Forgot your password?',
        subtitle: 'You can reset your password here.',
    ) %>

    <div class="text-left px-2 sm:w-1/2 max-w-xl mx-auto">
        <% if @possibly_successful %>
            <%= render NotificationComponent.new(
                type: 'success',
                body: ['If an account with that email exists, a password reset email has been sent.'],
            ) %>
        <% end %>

        <%= form_with method: :post, data: {turbo: false} do |form| %>
            <%= render TextboxComponent.new(
                form: form,
                name: :email,
                label: 'E-mail Address',
                value: params[:email],
            ) %>
            <div class="text-center mt-6">
                <%= render ButtonComponent.new(
                    name: 'submit',
                    label: 'Submit',
                    type: 'submit',
                    icon: 'check',
                ) %>
            </div>
        <% end %>
    </div>
</div>
