<div class="block text-center mt-8">
    <%= render TitleComponent.new(
        title: 'Register',
        subtitle: 'Register to VolunteerMap to manage postings, domain associations, and bookmarks.',
    ) %>

    <div class="text-left px-2 sm:w-1/2 max-w-xl mx-auto">
        <% unless @pending_signup.nil? %>
            <% if @pending_signup.errors.any? %>
                <%= render NotificationComponent.new(
                    type: 'error',
                    body: @pending_signup.errors.full_messages,
                ) %>
            <% else %>
                <%= render NotificationComponent.new(
                    type: 'success',
                    body: [
                        'A confirmation email has been sent to ' +
                        @pending_signup.email + '. Please click the link in the email to' +
                        ' complete your registration.',
                    ],
                ) %>
            <% end %>
        <% end %>

        <%= form_with method: :post, data: {turbo: false} do |form| %>
            <%= form.hidden_field :redirect_to, value: params[:redirect_to] %>
            <%= render TextboxComponent.new(
                form: form,
                name: :email,
                label: 'E-mail Address',
                value: params[:email],
            ) %>
            <div class="text-center mt-6">
                <%= render ButtonComponent.new(
                    name: 'register',
                    label: 'Send Confirmation E-mail',
                    type: 'submit',
                    icon: 'envelope',
                ) %>
            </div>
        <% end %>
    </div>
</div>
