<% content_for :title do %> | Register<% end %>
<% content_for :description do %>Register to VolunteerMap to manage postings, domain associations, and bookmarks.<% end %>

<div class="block text-center mt-8">
    <%= render TitleComponent.new(
        title: 'Register',
        subtitle: 'Register to VolunteerMap to manage postings, domain associations, and bookmarks.',
    ) %>

    <div class="text-left px-2 sm:w-1/2 max-w-xl mx-auto">
        <% unless @result.nil? %>
            <%= render NotificationComponent.new(
                type: 'error',
                body: @result.errors.full_messages,
            ) %>
        <% end %>

        <%= form_with method: :post, data: {turbo: false} do |form| %>
            <%= form.hidden_field :redirect_to, value: params[:redirect_to] %>
            <%= render TextboxComponent.new(
                form: form,
                name: :username,
                label: 'Username',
                value: params[:username],
            ) %>
            <%= render TextboxComponent.new(
                form: form,
                name: :password,
                label: 'Password',
                type: :password,
            ) %>
            <%= render TextboxComponent.new(
                form: form,
                name: :password_confirmation,
                label: 'Confirm Password',
                type: :password,
            ) %>
            <div class="text-center mt-6">
                <%= render ButtonComponent.new(
                    name: 'register',
                    label: 'Register',
                    type: 'submit',
                    icon: 'user-plus',
                ) %>
            </div>
        <% end %>
    </div>
</div>
