<turbo-frame id="authenticator_frame">
    <div class="flex">
        <div class="flex-col">
            <h2 class="text-xl font-bold">Manage 2 Factor Authenticaton</h2>
            <p class="mt-1 dark:text-gray-200">
                This screen is where you can view your recovery codes or disable 2FA.
            </p>
        </div>
        <div class="flex-grow text-right ml-6 mt-0">
            <form method="dialog">
                <button class="text-2xl mt-0" aria-label="Close">
                    <%= icon 'fa-solid', 'times' %>
                </button>
            </form>
        </div>
    </div>

    <hr class="my-3 dark:border-gray-600" />

    <%= form_with method: :post do |form| %>
        <% if @invalid_password %>
            <%= render NotificationComponent.new(
                type: 'error',
                body: ['Your password is incorrect.'],
            ) %>
        <% end %>

        <%= render TextboxComponent.new(
            form: form,
            name: :authenticator_password,
            label: 'Password',
            description: 'You are required to confirm your password to view backup codes or remove 2FA.',
            required: true,
            type: 'password',
        ) %>

        <div class="flex mt-4">
            <div class="flex-col">
                <%= render ButtonComponent.new(
                    name: 'recovery_codes',
                    label: 'View Recovery Codes',
                    type: 'submit',
                    icon: 'key',
                ) %>
            </div>
            <div class="flex-col ml-2">
                <%= render ButtonComponent.new(
                    name: 'remove_2fa',
                    label: 'Remove 2FA',
                    type: 'danger',
                    icon: 'times',
                ) %>
            </div>
        </div>
    <% end %>
</turbo-frame>
