<div class="block m-12">
    <%= render TitleComponent.new(
        title: 'Settings',
        subtitle: 'Update your account settings.',
        long: true,
    ) %>

    <dialog id="authenticator_dialog" class="m-auto p-0" data-controller="dialog">
        <div class="bg-white dark:bg-gray-800 p-4 block w-full h-full dark:text-white">
            <turbo-frame id="authenticator_frame" src="/user/frames/2fa"></turbo-frame>
        </div>
    </dialog>
    <script>
        // When the authenticator dialog is closed, re-navigate the frame.
        document.getElementById("authenticator_dialog").addEventListener("close", function () {
            Turbo.visit("/user/frames/2fa", {frame: "authenticator_frame"});
        });
    </script>

    <dialog id="password_dialog" class="m-auto p-0" data-controller="dialog">
        <div class="bg-white dark:bg-gray-800 p-4 block w-full h-full dark:text-white">
            <turbo-frame id="password_frame" src="/user/frames/password"></turbo-frame>
        </div>
    </dialog>
    <script>
        // When the password dialog is closed, re-navigate the frame.
        document.getElementById("password_dialog").addEventListener("close", function () {
            Turbo.visit("/user/frames/password", {frame: "password_frame"});
        });
    </script>

    <turbo-frame id="settings_frame">
        <div class="max-w-3xl">
            <% unless @errors.nil? %>
                <% if @errors.empty? %>
                    <%= render NotificationComponent.new(
                        type: 'success',
                        body: ['Your settings have been updated.'],
                    ) %>
                <% else %>
                    <%= render NotificationComponent.new(
                        type: 'error',
                        body: @errors,
                    ) %>
                <% end %>
            <% end %>

            <%= form_with method: :post do |form| %>
                <%= render TextboxComponent.new(
                    form: form,
                    name: :username,
                    label: 'Username',
                    description: 'Your username is what is displayed to other users. Note that changing this will break existing links to your public profile.',
                    value: user.username,
                ) %>

                <%= render TextboxComponent.new(
                    form: form,
                    name: :email,
                    label: 'Email',
                    description: 'Your email is used for account recovery and notifications.',
                    value: user.email,
                ) %>
                <% if user.email_update_request %>
                    <%= render NotificationComponent.new(
                        type: 'warning',
                        body: [
                            "Please check your email at #{user.email_update_request.email} to confirm your email address change.",
                        ],
                    ) %>
                <% end %>

                <div class="mb-3">
                    <div class="mb-2">
                        <label for="authenticator">
                            <p>
                                <b>Authenticator Settings:</b>
                            </p>
                            <p class="text-sm text-gray-900 dark:text-gray-300">
                                Click the button below to open the authenticator modal to update your authenticator details.
                            </p>
                        </label>
                    </div>
                    <%= render partial: 'button_dialog_hook', locals: {
                        button_name: 'authenticator',
                        button_label: 'Open Authenticator Modal',
                        button_icon: 'lock',
                        dialog_name: 'authenticator_dialog',
                    } %>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <label for="authenticator">
                            <p>
                                <b>Password Settings:</b>
                            </p>
                            <p class="text-sm text-gray-900 dark:text-gray-300">
                                Click the button below to open the password modal to update your password.
                            </p>
                        </label>
                    </div>
                    <%= render partial: 'button_dialog_hook', locals: {
                        button_name: 'password',
                        button_label: 'Open Password Modal',
                        button_icon: 'key',
                        dialog_name: 'password_dialog',
                    } %>
                </div>

                <hr class="my-6 dark:border-gray-600" />

                <%= render ButtonComponent.new(
                    name: 'update',
                    label: 'Update',
                    type: 'submit',
                    icon: 'pen',
                ) %>
            <% end %>
        </div>
    </turbo-frame>
</div>
